<h1>{{title}}</h1>
<table class="o-table exposed-articles" data-o-component="o-table" >

	<thead>
		<th>Content UUID</th>
		<th>Headline</th>
		<th></th>
	</thead>

	<tbody>

		{{#if visibleDocs}}
		
			{{#each visibleDocs}}
				<tr>
					<td><a target="_blank" href="https://www.ft.com/content/{{this.uuid}}">{{this.uuid}}</a></td> <td>This is the article headline</td> <td><a href="/ft/delete/{{this.uuid}}">Remove</a></td>
				</tr>
			{{/each}}

		{{else}}
			<tr>
				<td>No articles are available for 3rd party consumption...</td><td></td>
			</tr>
		{{/if}}
	</tbody>

</table>

<a href="/ft/add/">Add Article</a>