<h1>{{title}}</h1>
<a href="/ft/add/" class="addArticleBtn">Add Article</a>
<table class="o-table exposed-articles" data-o-component="o-table" >

	<thead>
		<th>Content UUID</th>
		<th>Headline</th>
		<th>Published (DD-MM-YYYY)</th>
		<th>Exposed (DD-MM-YYYY)</th>
		<th class="recorded">Recorded?</th>
		<th></th>
	</thead>

	<tbody>

		{{#if visibleDocs}}
		
			{{#each visibleDocs}}
				<tr>
					<td>
						<a target="_blank" href="https://www.ft.com/content/{{this.uuid}}">{{this.uuid}}</a>
					</td> 
					<td>{{this.headline}}</td>
					<td>{{#datestamp this.publishedDate}}{{/datestamp}}</td>
					<td>{{#unix this.madeAvailable}}{{/unix}}</td>
					<td>{{#if this.publicURL}}<a href="{{this.publicURL}}">{{this.recorded}}</a>{{else}} {{this.recorded}} {{/if}} </td>
					<td><a href="/ft/delete/{{this.uuid}}">Remove</a></td>
				</tr>
			{{/each}}

		{{else}}
			<tr>
				<td>No articles are available for 3rd party consumption...</td><td></td>
			</tr>
		{{/if}}
	</tbody>

</table>
